@use 'src/styles/vars';

.skills {
  margin: 1rem;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;

  &-title1 {
    text-decoration: underline 1px solid vars.$purple;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }

  &-label {
    padding: 1rem;
    margin-right: 1rem;
  }

  &-icon {
    width: 50px;
    height: 50px;
    // float: left;
    margin-bottom: 0.8rem ;
    margin-right: 0.8rem;
  }

  &-data {
    margin-right: 1rem;
    
  }

  &-text {
    font-weight: bold;
  }

  &-bar-container{
    position: relative;
  }

  &-bar {
    height: 10px;
    width: 15rem;
    background-color: white;
    border-radius: 10px;
    margin-top: .7rem;
    // overflow: hidden;
    position: relative;

    &-progression {
      height: 100%;
      border-radius: 10px;
      position: absolute;
      left: -1px;
      background-color: purple;
      transition: 1s;
    }
  }

  &-items-containers{
    margin-bottom: 4rem;
    display: flex;
  }
}

@media (min-width: 768px) {
  .skills {
    
  justify-content: center;
    &-items-containers {
      max-width: 350px;
    }
  }
}

@media (min-width: 1500px) {
  .skills {
    &-title1 {
      font-size: 2rem;
      margin-left: 2rem;
      margin-bottom: 3rem;
    }
  }
}
