@use 'src/styles/vars';

.header {
  margin: 2em 2em 3em 2em ;
    &-home{
      font-size: 2.5rem;
      font-weight: 800;
      margin-right: 2rem;
      float: left;
      transition: 0.3s;
        &:hover {
          color: vars.$purple;
          .header-o {
            transition: 0.3s;
            color: white;
          }
        }
    }

    &-ul{
      display: inline-flex;
      font-size: 1.3rem;
      font-weight: 800;
    }

    &-li{
      margin-left: 2rem;
      align-self: center;
        &:hover{
          color: vars.$purple;
        }
    }

    &-o{
      color: vars.$purple;
    }

    &-burger{
      display: flex;
      justify-content: flex-end;
    }
}

.burger {
  cursor: pointer;

  &-bar1,
  &-bar2,
  &-bar3 {
    width: 60px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
      &:hover {
        background-color: vars.$purple;
      }
  }

  &-bar3 {
    &:hover {
      background-color: vars.$purple;
    }
  }

  &-bar1.active {
    transform: rotate(-45deg) translate(-4px, 6px);
    background-color: vars.$purple;
  }

  &-bar2 {
    opacity: 0;
  }

  &-bar3.active {
    background-color: vars.$purple;
    transform: rotate(45deg) translate(-6px, -6px);
  }
}

.menu {
  position: fixed;
  top: 100px;
  right: -100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50vh;
  transition: 0.5s;
  overflow: hidden;

  &.active {
    right: 0;
    top: 100px;
    background-color: #0f0f0f;
    position: absolute;
  }

  &-item {
    width: 100%;
    text-align: center;

    &-link {
      padding: 1em;
      font-size: 1.5em;
      display: inline-block;
      color: white;
      width: 100%;

      &:hover,
      &--active {
        color: white;
        font-weight: bold;
        background-color: vars.$purple;
        padding-right: 5rem;
        transition: .3s;
      }
    }
  }
}


